$primary: #1ac8e1 !default;
$primarylight: #1de6ba !default;

$sidebar-background-color: #272f38 !default;
$sidebar-background-color-hover: #2f3842 !default;
$sidebar-background-color-selected: #1c242c !default;
$sidebar-background-color-sub-selected: #14191f !default;

$sidebar-menu-category-color: rgba(255, 255, 255, 0.5) !default;
$sidebar-menu-color: rgba(255, 255, 255, 0.5) !default;
$sidebar-menu-color-hover: #FFFFFF !default;
$sidebar-menu-selected-color: #FFFFFF !default;

$navbar-background-color: #ffffff !default;
$navbar-color: rgba(78, 93, 112, 0.7) !default;
$navbar-hover-color: #1ac8e1 !default;
$navbar-active-color: #1de6ba !default;
$navbar-header-color: #ffffff !default;

$background-color: #ecf1f3 !default;

$sidebar-menu-item-height: 40px;