<%
%>

<div class="row">
    <h1 style="padding: 15px;">Demo</h1>
    <div class="col-xxl-12 col-lg-12 ">
        <div class="card border-0 flex-fill">
            <div class="card-header border-0">
                Bootstrap
                <span class="card-tools">
                    <a class="card-tool close" target-closest-element=".card" parent-of-target href="#"><i class="fas fa-times"></i></a>
                    <a class="card-tool minimise" target-parent=".card" target-element=".card-body" href="#"><i class="fas fa-minus"></i></a>
                    <a class="card-tool fullscreentoggler" target-closest-element=".card" href="#"><i class="fas fa-expand"></i></a>
                </span>
            </div>
            <div class="card-body border-0">
                <h5 class="card-title">Buttons</h5>
                <p class="card-text">Simple Bootstrap buttons</p>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-dark">Dark</button>
            </div>
        </div>
    </div>
</div>