<%
%>

<div class="row">
    <h1 style="padding: 15px;">My Computers</h1>
    <div class="col-xxl-12 col-lg-12 ">
        <div class="card border-0 flex-fill">
            <div class="card-header border-0">
                My Computers
                <span class="card-tools">
                    <a class="card-tool close" target-closest-element=".card" parent-of-target href="#"><i class="fas fa-times"></i></a>
                    <a class="card-tool minimise" target-parent=".card" target-element=".card-body" href="#"><i class="fas fa-minus"></i></a>
                </span>
            </div>
            <div class="card-body border-0 computerlist">
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-success addComputer">Link a Computer</button>
            </div>
        </div>
    </div>
</div>