<footer class="footer">
    <%= "2018 - " + new Date().getFullYear() %>
    <span style="float: right">
    Made with <i class="fas fa-heart" style="color: red;"></i> by <a href="https://laloix.com">laloix</a>
    </span>
</footer>