<nav id="navbar">

    <div id="navbar-header">
      <a href="/">
        <img class="navbar-header-logo" alt="Logo" src="/img/favicon.png"/>
        <span class="navbar-header-text">
          Neat Pixel
        </span>
      </a>
    </div>

    <div id="navbar-content">
      <ul class="navbar-tools">
        <li class="navbar-item">
          <a class="navbar-item-link navtoggler" href="#">
            <button class="hamburger hamburger--arrow is-active" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </a>
          <a class="navbar-item-link fullscreentoggler" href="#"><i class="fas fa-expand"></i></a><a class="navbar-item-link" href="#"><i class="fas fa-search"></i></a>
        </li>
      </ul>
      <ul class="navbar-tools navbar-tools-right">
        <li class="navbar-item">
          <a class="navbar-item-link" href="#">Hello</a><a class="navbar-item-link logout" href="#"><i class="fas fa-cog"></i></a>
        </li>
      </ul>

    </div>

</nav>