body {
    text-align: center;
    line-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 75px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(217, 244, 255);
    background-color: rgb(8, 24, 43);
}