<%
%>

<div class="row" style="height: 100%">
    <div class="col"></div>
        <div class="formblock col-md-12 col-lg-5 col-xl-4">
            <img class="shadowed" src="/img/favicon.png" style="display:block; margin:auto;"/>
            <h3 style="text-align: center">PIXEL ADMIN</h3>
            <h5 style="text-align: center">Sign In</h5>
            <form action="/login" method="post" id="logform" novalidate>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    <span class="errormsg" target="username">
                        <ul>
                        </ul>
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <span class="errormsg" target="password">
                        <ul>
                        </ul>
                    </span>
                </div>
                <div class="form-group">
                    <span class="errormsg general">
                        <ul>
                        </ul>
                    </span>
                </div>
                <button type="submit" class="btn btn-custom btn-block submitbtn">
                    Sign In
                </button>
            </form>
            <a href="/register">Forgot your password?</a>
            <p style="padding-top: 40px; text-align: center">Still no account? <a href="/register">Try to register</a></p>
        </div>
    <div class="col"></div>
</div>
