$background-image: "/img/bg.jpg" !default;
$primary: #1ac5df !default;
$primarylight: #1de6ba !default;
$formblockbg: rgba(0, 0, 0, 0.6) !default;
$color: #FFFFFF !default;
$errorcolor: #FF0000 !default;

$colorlink: $primary !default;
$colorlinkactive: $primarylight !default;